@page
@using Microsoft.Extensions.Localization
@using EasyAbp.WeChatManagement.Officials.Localization
@using EasyAbp.WeChatManagement.Officials.Web.Pages.Officials
@model EasyAbp.WeChatManagement.Officials.Web.Pages.Officials.IndexModel
@inject IStringLocalizer<OfficialsResource> L

@{
}
<h1>Officials</h1>
<p>@L["SamplePageMessage"]</p>
